
<div class="component text-white  d-flex justify-content-center align-content-center  vh-100">
    <div class="container justify-content-center align-content-center">
        <div class="row ">
            <div class="col-md-12 text-center">
                <h2>ABOUT COMPONENT</h2>
            </div>
            <div class="col-md-6">
                <p >Freelancer isy a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
            <div class="col-md-6">
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </div>
        </div>
    </div>

</div>

<div>
    <app-footer></app-footer>
</div>