<p>contact works!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptas dolor ratione in, veniam labore atque facilis error nesciunt aliquid exercitationem porro ipsam quo dolore sequi consequuntur quod quaerat error nesciunt aliquid exercitationem porro ipsam quo dolore sequi consequuntur quod quaerat</p>


<div class=" d-flex justify-content-center align-content-center mt-5">
    <h1 class="text1 fw-bolder fs-1">CONATACT SECTION</h1>
</div>

<section id="Contact" class="my-5">
    <div>
        <input type="text" id="nameInput" class="form-control w-50 m-auto my-5" placeholder="User Name..">
        <div id="nameAlert" class="alert alert-danger w-100 mt-2 d-none">
        </div>
    </div>


    <div>
        <input type="text" id="PhoneInput" class="form-control w-50  my-5  m-auto" placeholder="User Age...">
    </div>

    <div>
        <input type="email" id="emailInput" class="form-control  w-50  my-5 m-auto  " placeholder="User Email...">
    </div>

    <div class="w-50 m-auto">
        <input type="password" id="passwordInput" class="form-control  my-4" placeholder="User password...">
        <button class="btn  ">Send Message</button>

    </div>

</section>


<app-footer></app-footer>