
#Contact input{
    background-color: transparent    ;
    border:  none ;
    border-bottom: 1px solid #c1c1c1 ;
    
}

.btn{
    background-color: #1abc9c;
    color: white;
}

.text1{
    color: #2c3e50;
}