<div class=" d-flex justify-content-center align-content-center bg-black">
    <h1> PORTFOLIO COMPONENT </h1>
</div>

<div class="container mt-5 my-4">
    <div class="row g-5">
        <div class="col-md-4 ">
            <div class="inner  position-relative">          
            <img src="../assets/image/poert1.png " class="w-100 rounded" alt="">
                <div class="layer rounded rounded d-flex justify-content-center align-content-center position-absolute top-0 end-0 start-0 bottom-0  ">
                    <i class="text-white fa-solid fs-1 fa-plus justify-content-center align-content-center"></i>    
            </div>
        </div>
        </div>

        <div class="col-md-4 ">
            <div class="inner  position-relative">          
            <img src="../assets/image/port2.png " class="w-100 rounded" alt="">
                <div class="layer rounded d-flex justify-content-center align-content-center position-absolute top-0 end-0 start-0 bottom-0  ">
                    <i class="text-white fa-solid fs-1 fa-plus justify-content-center align-content-center"></i>    
            </div>
        </div>
        </div>

        <div class="col-md-4 ">
            <div class="inner  position-relative">          
            <img src="../assets/image/port3.png " class="w-100 rounded" alt="">
                <div class="layer rounded d-flex justify-content-center align-content-center position-absolute top-0 end-0 start-0 bottom-0  ">
                    <i class="text-white fa-solid fs-1 fa-plus justify-content-center align-content-center"></i>    
            </div>
        </div>
        </div>

        <div class="col-md-4 ">
            <div class="inner  position-relative">          
            <img src="../assets/image/poert1.png " class="w-100 rounded" alt="">
                <div class="layer rounded d-flex justify-content-center align-content-center position-absolute top-0 end-0 start-0 bottom-0  ">
                    <i class="text-white fa-solid fs-1 fa-plus justify-content-center align-content-center"></i>    
            </div>
        </div>
        </div>

        <div class="col-md-4 ">
            <div class="inner  position-relative">          
            <img src="../assets/image/port2.png " class="w-100 rounded" alt="">
                <div class="layer rounded d-flex justify-content-center align-content-center position-absolute top-0 end-0 start-0 bottom-0  ">
                    <i class="text-white fa-solid fs-1 fa-plus justify-content-center align-content-center"></i>    
            </div>
        </div>
        </div>
        
        <div class="col-md-4 ">
            <div class="inner  position-relative">          
            <img src="../assets/image/port3.png " class="w-100 rounded" alt="">
                <div class="layer rounded d-flex justify-content-center align-content-center position-absolute top-0 end-0 start-0 bottom-0  ">
                    <i class="text-white fa-solid fs-1 fa-plus justify-content-center align-content-center"></i>    
            </div>
        </div>
        </div>
      
    </div>
</div>

<app-footer></app-footer>